.selectItemBlock {
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.common {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: wheat;
  height: 100px;
}